*{
    margin: 0;
    padding: 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #990000;
}

.gallery__item  {
    height: 300px;
    box-sizing: border-box;
    margin: 5px;
}

.gallery__img {
    max-width: 100%;
    max-height: 100%;
}